/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 5.3125rem; /* To offset for fixed header. */
  background-color: #f4f4f4;
}
.content {
  width: 100%;
}
.center {
  text-align: center;
  align-items: center;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  max-width: 100%
  height: auto;
}

@media only screen and (max-width: 960px) {
  .main-content {
    top: 2.5625rem;
  }
}

/* Header */

header {
  position: fixed;
  width: 100%;
  height: 5.3125rem;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  display:flex;
  align-items: center;
  z-index: 2;
}

.header-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
.fotomatic {
 font-size: 1.25rem;
}
.desktop {
  display: flex;
  flex-direction: row;
}
ul.horiz li {
  display: inline;
}
header nav ul {
  color: red: /*#4A4A4A; */
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 960px) {
  header .desktop {
    display: none;
  }
  header .fotomatic {
    display: none;
  }
  header {
    height: 3rem;
  }
  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
    border-radius: 0.25rem;
  }
}

/* Sign Up Section */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
}
.banner {
  display: flex;
  background-image: url(../images/banner-landingpage.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
/*  flex-shrink: 0.5;*/
}
#sign-up-cta {
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
  margin-left: 100px;
  margin-top: 170px;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
}

@media only screen and (max-width: 960px) {
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 480px) {
  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }
}

/* Features Section */
/*#features-section .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 4rem 5% 4rem 5%;
  background-color: #f3f3f3;
}*/
#features-section {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-around;
  height: auto; /*46.5rem;*/
  padding-top: 4rem;
}
.feature {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
  height:auto;    /*39.6875rem; */
  position: relative;
  width: 40%;
/*  border: 2px solid red; */
}

.feature .image-container {
  width: 90%;
  height: 65%;
  /*margin: 0 auto;
  height: auto;*/
}
.feature img {
/*  border: 3px dashed red;*/
  max-width: 100%;
/*  height: auto;
  padding-bottom: 2.5rem; */
}
.feature-text {
  max-width: 90%;
  padding-top: 2.5rem;
}
.feature h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

@media only screen and (max-width: 960px) {
  .feature h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .feature h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 480px) {
  #features-section {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .feature .image-container {
    width: 100%;
    height: 65%;
  }
  .feature {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    width: 100%;
    height:auto;    /*39.6875rem; */
    position: relative;
  }
}

/* Filters Section */

#filters-section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2.875rem;
  background-color: #4a4a4a;
  width: 100%;
  height: auto;
/*  border: 3px dashed blue;*/
}

#filters-section .content {

}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
  height: auto;
}

#filters-section .images-container {
   display: flex;
   position: relative;
   width: 98%;
   height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 4rem;
}
#filters-section img {
/*  border: 3px dashed red;*/
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 960px) {
  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filters-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }
}

/* Quotes Section */

#quotes-section {
  background-color: #f3f3f3;
  padding-top: 5rem;
  padding-bottom: 5rem;

}

#quotes-section content {
  padding: 5rem 0;
}

#quotes-section span.quote {
  padding-right: 1.875rem;
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

#quotes-section quote-citation {
  height: 1.875rem;
}

@media only screen and (max-width: 960px) {
  #quotes-section content {
    padding: 1.875rem .625rem;
  }

  #quotes-section quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #quotes-section quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
}

/* Footer */

footer {
  background-color: #9b9b9b;
  display: flex;
  align-items: center;
/*  padding: 1.5rem 2rem; */
  height: 62px;
}

footer .content {
  color: white;
  display: flex;
  font-family: Roboto-Regular;
  font-size: .75rem;
  padding-left: 2rem;
  padding-right: 2rem;

}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (max-width: 960px) {
  footer .content {
    font-size: .625rem;
  }
}
